body{
background-image: url(./assets/img/1614611433_128-p-klipart-fon-dlya-fotoshopa-184.png);
background-repeat: no-repeat;
background-repeat: round;
}

input[type=radio]{
  display: none;
}

label{
  cursor: pointer;
  height: 50px;
}

.container{
  overflow: hidden;
}
.block{
}
.box{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.slides{
  width: 500px;
  height: 600px;
}

#slid-1:checked ~ .block .left4{
  display:block;
  display: flex;
  align-items: center;
}

#slid-2:checked ~ .block .left1{
  display:block;
  display: flex;
  align-items: center;
}

#slid-3:checked ~ .block .left2{
  display:block;
  display: flex;
  align-items: center;
}

#slid-4:checked ~ .block .left3{
  display:block;
  display: flex;
  align-items: center;
}

#slid-1:checked ~ .block .right2{
  display:block;
  display: flex;
  align-items: center;
}

#slid-2:checked ~ .block .right3{
  display:block;
  display: flex;
  align-items: center;
}

#slid-3:checked ~ .block .right4{
  display:block;
  display: flex;
  align-items: center;
}

#slid-4:checked ~ .block .right1{
  display:block;
  display: flex;
  align-items: center;
}

#slid-1:checked ~ .block .picture1{
  display: block;
  font-size: 25px;
  transition: 1s;
  opacity: 5;
  transition: 1s;
  transform: translateY(0);
}

#slid-2:checked ~ .block .picture2{
  display: block;
  font-size: 22px;
  transition: 1s;
  transform: translateY(-99%);
  opacity: 5;
}

#slid-3:checked ~ .block .picture3{
  display: block;
  font-size: 25px;
  transform: translateY(-199%);
  opacity: 5;
  transition: 1s;
}

#slid-4:checked ~ .block .picture4{
  display: block;
  font-size: 25px;
  opacity: 5;
  transition: 1s;
  transform: translateY(-298%);
}

.picture{
  width: 500px;
  height: 600px;
}

.picture1{
  opacity: 0;
  transform: translateY(-100%);
}
.picture2{
  opacity: 0;
  transform: translateY(-202%);
}
.picture3{
  opacity: 0;
}
.picture4{
  opacity: 0;
}

.box-bottom{
  display: flex;
  justify-content: center;
}

.circle{
  display: flex;
  align-items: center;
}
.cir1{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cir2{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cir3{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cir4{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.circle1{
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border-bottom-style: solid;
  background-color: rgb(3, 141, 255);
}
.circle2{
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border-bottom-style: solid;
  background-color: rgb(3, 141, 255);
}
.circle3{
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border-bottom-style: solid;
  background-color: rgb(3, 141, 255);
}
.circle4{
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border-bottom-style: solid;
  background-color: rgb(3, 141, 255);
}

#slid-1:checked ~ .block .circle1{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(3, 141, 255);
}
#slid-2:checked ~ .block .circle2{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(3, 141, 255);
}
#slid-3:checked ~ .block .circle3{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(3, 141, 255);

}
#slid-4:checked ~ .block .circle4{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(3, 141, 255);

}
#slid-1:not(:checked):hover ~ .block .circle1{
  background-color: rgb(0, 72, 255);

}
#slid-2:not(:checked):hover ~ .block .circle2{
  background-color: rgb(0, 72, 255);


}
#slid-3:not(:checked):hover ~ .block .circle3{
  background-color: rgb(0, 72, 255);


}
#slid-4:not(:checked):hover ~ .block .circle4{
  background-color: rgb(0, 72, 255);

}

#slid-1:not(:checked):active ~ .block .circle1{
  background-color: rgb(248, 236, 0);
}
#slid-2:not(:checked):active ~ .block .circle2{
  background-color: rgb(248, 236, 0);
}
#slid-3:not(:checked):active ~ .block .circle3{
  background-color: rgb(248, 236, 0);
}
#slid-4:not(:checked):active ~ .block .circle4{
  background-color: rgb(248, 236, 0);
}

.text{
  width: 480px;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0;
  color: rgb(0, 0, 0);
}


.text1{
  margin-top: 10px;
  transition: 1s;
  background-color: rgb(255, 255, 255);
}

.text2{
  margin-top: 10px;
  transition: 1s;
  background-color: rgb(255, 255, 255);
}

.text3{
  margin-top: 10px;
  transition: 1s;
  background-color: rgb(255, 255, 255);
}

.text4{
  margin-top: 10px;
  transition: 1s;
  background-color: rgb(255, 255, 255);
}

.img{
  border-radius: 100px;
}

@media (width: 320px){
  .box{
    gap: 0;
  }
  }

  @media (min-width:560px) and (max-width: 768px){
    .slides{
      width: 400px;
      height: 500px;
    }
  }

  @media (min-width:320px) and (max-width: 560px){

    .slides{
      width: 290px;
      height: 380px;
    }
  }

  @media (min-width:560px) and (max-width: 768px){
    .box-bottom{
     width: 540px;
     height: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
    }
  }
  
  @media (min-width:560px) and (max-width: 768px){
    .box{
    margin-top: 0;
    }
  }
  @media (min-width:320px) and (max-width: 560px){
    .box{
    margin-top: 0;
    }
  }

  @media (min-width:320px) and (max-width: 560px){
    .box-bottom{
     width: 300px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
    }
  }

  @media (min-width:320px) and (max-width: 560px){
    .text{
      width: 300px;
      height: 57px;
    margin:0;
    }
  }
  @media (min-width:320px) and (max-width: 560px){
    .text1{
      margin-top: 0;
    }
  }

  @media (min-width:320px) and (max-width: 560px){
    .text2{
        margin-top: 32px;
      }
    }
  @media (min-width:320px) and (max-width: 560px){

    .text3{
      margin-top: 24px;
      }
    }
  @media (min-width:320px) and (max-width: 560px){

    .text4{
      margin-top: 37px;
      }
    }
  @media (min-width:560px) and (max-width: 768px){

    .img{
      width: 400px;
      height: 500px;
      }
    }
  @media (min-width:320px) and (max-width: 560px){
    .img{
      width: 290px;
      height: 380px;
      }
    }